@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Distressed&family=Rubik+Marker+Hatch");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0fff0;
}

nav {
  background-color: mistyRose;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  margin-inline: 5px;
}

.card {
  margin: 10px;
}

form {
  display: block;
}

.card-container {
  min-height: 80vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-bar {
  margin-right: 40px;
}

.container-unset {
  width: 50%;
  margin: auto;
  text-align: center;
}

.images-unset {
  font-family: "Rubik Distressed", cursive;
  font-weight: 100;
  font-size: 3rem;
}

.tags {
  display: flex;
  justify-content: center;
  margin: 5px;
  flex-wrap: wrap;
}

.tags button {
  cursor: pointer;
  margin: 10px;
  font-size: 1.05rem;
  padding: 7px 15px;
  border-radius: 10px;
  border: none;
  background-color: mistyRose;
  font-weight: bold;
}

.loader {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.iconText {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.blockText {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

.button {
  width: 100%;
  text-align: center;
}

.img {
  transform: scale(1);
  transition: all 2s;
}

.img:hover {
  transform: scale(1.03);
  transition: all 2s;
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .images-unset {
    font-size: 2rem;
    margin-top: 70px;
  }
  .container-unset {
    width: 100%;
  }

  .tags {
    justify-content: space-evenly;
  }
}
